<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.3.4000" newVersion="4.0.3.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>